/* GENERAL STYLING */
body {
    font-size: 1.2em;
    line-height: 1.3em;
    background-color: #e6e6e6;
    font-family: arial, helvetica, sans-serif;
    padding-left:3vw;
    padding-right:3vw;
    text-shadow: 1px 1px #fff;
}
/* Generate perfect curly quotes with the <q> element: */
q{
    quotes:'“' '”' '‘' '’';
}

div.DIGIT {
    margin: auto;
}

span.WallpoetFont {
    font-family: 'Wallpoet', cursive;
    font-size: larger;
}

/* HEADER STYLE */


header {
    display: block;
    text-align: center;
    margin: auto;
    font-family: 'Wallpoet', cursive;
    font-size: larger;
    line-height: 1.5;
   /* font-size: .7em;*/
    /* padding: 10px; */
}

div.navbar {
    margin: auto;
    margin-bottom: 10px;
}

a.navButton {
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

a.navButton:hover {
    color: maroon;
}

/* FOOTER STYLE */

hr {
    margin: 0px;
}

footer {
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: .9em;

}

a.footLinks {
    color: maroon;
    
}

a.footLinks:hover {
    color: black;
}

div.foot#PSBlogo {
    background-image: url(images/PSB_logo.png);
    width: 250px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
}

div.foot {
    float: left;
    margin: auto;
    line-height: 1em;
    

}

h4.foot {
    margin-bottom: 0px;
}

div.foot ul {
    line-height: 1em;
}





/* HOMEPAGE STYLING */

section {
    margin: auto;
    /*display: block;*/
}

div#homeImage { background-image: url(images/digit_collage_banner_NARROW.png);
    /*   background-image: url(images/DIGITpsb-arced1-instag.png);*/
   /*   width: 1500px;
    height: 240px; */
    /*width:100%;*/
    height: 24.5vw;
    /*opacity: .75;*/
      background-position: center center;
    background-repeat: no-repeat;
  background-size: contain;
   /* background-size: 1500px 240px; */
    margin: auto;
    display: flex;
    

}

div.indent {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

div.indent div {
    margin: 10px;
}



/* ROADMAP STYLING */

h1.roadmap {
    margin-bottom: 10px;
    text-align: center;
}

/* SVG STYLING */

section#svgHolder {

}

div#svg {
    display: flex;
}

svg {
    /*display:flex;*/
    /* preserveAspectRatio 
     * viewbox --> in */
     background-image: linear-gradient(to bottom right, #dee0ec, #a9b8bb);
border-radius: 50px;
margin-bottom: 15px;
}

a.svg {
    outline: grey solid 0px;
    border-radius: 25px;
  
}

@keyframes mymove {
  50% {outline: white solid 10px;}
}

a.svg:hover {
    animation: mymove 4s infinite;
}

ellipse {

}

text {
    font-size: 2em;

}


/* SHOWCASE STYLE */

div.showcaseContent {
    margin: 30px;
}
div.showcaseContent h1 {
    text-align: center;
}


img.icon {
    width: 190px;
    border-radius: 25px;
}

a img:hover {
    opacity: .6;
    transition: .4s;
}

div#projectContain {
    display: flex;
    flex-direction: row;
}

div#projectContain div {
    flex: 1;
}

section {


}

section.showSection div {
    
    /*display: inline-flex;*/
    flex-direction: row;
    justify-content:space-around;
    align-items:flex-start;
}

section.showSection div figure {
    flex: 1;
}
section.showSection div figure img {
   max-width:300px; 
   width:100%;
}
section.showSection div figure figcaption {
   display:inline-block;
   font-size:smaller;
}


/* ul.body {list-style-type: none; 
 * display:flex;  justify-content:space-around; 
 * align-items:flex-start; flex-direction:row; flex-wrap: wrap;}
 */





        /* ABOUT PAGE STYLE */
        
div.aboutHead {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
 
 img#faces1 {
     width:200px;
 }
 
 img#faces2 {
     width:200px;
 }
 
 div.portfolioWrap {
     display:flex;
     flex-direction:row;
     justify-content:space-evenly;
 }
 
 img#faces3 {
     width:200px;
 }
 
 div.portfolioList li {
     line-height:2em;
 }





/* 404 STYLING */

div.errorimage {
    display: flex;
    margin: auto;
    justify-content: center;
}
/* DIGIT Works events posting */
.worksTitle {color:purple; font-family: 'Wallpoet', cursive;
    font-size: larger;}
.worksEvent {outline-style: solid; outline-color:purple; outline-width:thin; padding: .75em;}

table.showCase {vertical-align: middle;}
table.showCase tr:nth-child(even) {background-color:/*#dcd0ff*/ /*#dbd7d2*/ /*#c3cde6/ /*#e0c39e*/ /*#d9cab2*/ lightsteelblue;}

th, td {padding-left: 1em; padding-right: 1em; padding-top: .5em; padding-bottom: .5em;}

/* Embedded Zoom recordings: */
.kmsembed {border:none; width:70%;}


/* banner photo*/
.gallery{
	border: 1px solid #371D10;
}

.gallery:hover {
	border: 2px solid #4A2512;
}

.gallery img{
	width: 100%;
	height: auto;
	opacity: 0.5;
}

.desc{
	padding :15px;
	text-align: center;
	font-family: 'IM Fell English', serif;
	font-size: 20px;
}

* {
  box-sizing: border-box;
}

.responsive {
	padding: 0 2px;
	float: left;
	width: 100%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 100%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textoverlay {
  position: relative;
  text-align: center;
  color: #231709;
  font-family: 'IM Fell English', serif;
  font-size: 20px;
}

.centered mark{
	background-color: #9A7B4F;
}

