html,
body {
    font-family: "Verdana", sans-serif;
    font-size: 20px;
    margin: 0;
    scroll-behavior: smooth;
}
/* WS:7/26 UNIVERSAL TEXT. Execptions can exist like project page font size, footer, and home page title. Expanding this rule over everything could be a goal.
 * WS:7/28 h1 is reserved for page titles, h2 is for subsections, h3 is for important info but not titles or headers of page sections. The rest can be used as seen fit.
 * Margins and padding use rem units if not % or vw. */
h1 {
    text-transform: capitalize;
    text-align: center;
    font-size: 3.5rem;
    margin: 3rem 1rem 2rem;
}
h2 {
    font-size: 1.7rem;
    font-weight: 600;
    margin: 0 0 0.85rem;
}
h3 {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0.3rem 0 0.7rem;
}
h4 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0.3rem 0 0.7rem;
}
h5 {
    font-size: 0.8rem;
    font-weight: 600;
    margin: 0.3rem 0 0.7rem;
}
p {
    font-size: 1rem;
    margin: .4rem 0 1rem 0;
    text-align: justify;
}
a {
    text-decoration: none;
/*    color: rgb(37,160,219);*/
    color: rgb(150, 190, 230);
}
a:visited {
/*    color: rgb(78,114,166);*/
/*    color: #fad6a5; /\* opposite color of the background color #05295a *\/*/
    color: pink;
}
a:hover{
/*    color: rgb(150, 190, 230);*/
    color: #d4f4f5;
}
ul {
    padding: 0 0 0 2rem;
}
li {
    font-size: 1rem;
}
h1 span {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .2rem;
    line-height: 3rem;
    padding-left: 0.25rem;
    padding-bottom: .5rem;
}
@media screen and (max-width : 767px) {
    h1 {
        font-size: 2.5rem;
        margin: 2rem 1rem 1rem;
    }
    h2 {
        margin: 0 0 0.7rem;
        font-size: 1.7rem;
    }
    h3 {
        margin: 0 0 0.7rem;
        font-size: 1.35rem;
    }
    h4 {
        font-size: 1rem;
        margin: 0 0 0.7rem;
    }
    h5 {
        font-size: 0.8rem;
        margin: 0 0 0.7rem;
    }
    p,
    li {
        font-size: 0.85rem;
    }
}
@media screen and (max-width : 455px) {
    h1 {
        font-size: 1.7rem;
        margin: .9rem 1rem .6rem;
    }
    h2 {
        margin: 0 0 0.5rem;
        font-size: 1.3rem;
    }
    h3 {
        margin: 0 0 0.4rem;
        font-size: 1rem;
    }
    h4 {
        font-size: .8rem;
        margin: 0 0 0.4rem;
    }
    h5 {
        font-size: .7rem;
        margin: 0 0 0.4rem;
    }
    p,
    li {
        font-size: 0.6rem;
    }
}
/* Class Shortcuts */
.center {
    display: flex;
    justify-content: center;
    margin: 0 1rem;
}
/* Goes on a div element */
.break {
    flex-basis: 100%;
    height: 0;
    display: none;
}
/* End Universal Font Size */
/* Menu bar responsiveness. Changes the text into a menu icon for mobile */
@media screen and (max-width : 960px) {
    .menu a:not(:first-child) {
        display: none;
    }
    .menu a.icon {
        float: right;
        display: block;
    }
}
@media screen and (max-width : 960px) {
    .menu.responsive {
        position: relative;
    }
    .menu.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .menu.responsive a {
        float: none;
        display: block;
        text-align: left;
        background-color: rgba(0, 0, 0, .8);
    }
}
.menu {
    overflow: hidden;
    width:100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .2);
    top: 0;
    transition: top 0.25s;
    z-index: 99;
}

.menu a {
    float: left;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    padding: 0.8rem 1rem;
    color: #f2f2f2;
    transition: all ease 0.5s;
}

.menu a:hover {
    background-color: rgba(193, 0, 0, 0.3);
    cursor: pointer;
}
.menu a.active {
    background-color: rgba(193, 0, 0, 0.3);
    color: #fff;
}
.menu .icon {
    display: none;
}
/* Menu ends */
/* Homepage Begins */
#container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
#container video {
    z-index: -2;
    position: absolute;
    height: auto;
    width: auto;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.title {
    z-index: -1;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90%;
    line-height: 2rem;
    position: absolute;
    top: 3.5vh;
    left: 0;
    right: 0;
}
.header h1 {
    font-size: 6rem;    
    margin: 4.5rem 1.5rem;
}
.header h2 {
    font-size: 2.55rem;
    margin: 0 0 1.275rem;
}
.header h3 {
    font-size: 1.95rem;
    margin: 0.45rem 0 1.05rem;
}
@media screen and (max-width : 767px) {
    .header h1 {
        font-size: 3.75rem;
    }
    .header h2 {
        margin: 0 0 1.05rem;
        font-size: 2.55rem;
    }
    .header h3 {
        margin: 0 0 1.05rem;
        font-size: 2rem;
    }
}
@media screen and (max-width : 455px) {
    .header h1 {
        font-size: 3rem;
    }
    .header h2 {
        margin: 0 0 0.1125rem;
        font-size: 2.4rem;
    }
    .header h3 {
        margin: 0 0 0.6rem;
        font-size: 1.5rem;
    }
}
/* Scroll down button */
.scroll a {
    max-width: 80px;
    margin: 0 auto 0 auto;
    color: #fff;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: all ease-in-out 0.3s;
}
.scroll a:hover {
    transform: scale(1.2);
}
.scroll p {
    margin: 0;
    text-align: center;
}
@media screen and (max-width : 455px) {
    .scroll a {
        font-size: 0.8rem;
    }
    .scroll p {
        display: none;
    }
}*
 /* The layout of the second-section can be used in other pages */
#second-section {
    background: #ebebeb;
    padding-top: 1.75rem;
}
.content {
    max-width: 1080px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    font-size: .75rem;
    text-align: justify;
    padding: 2rem;
    line-height: 1.25rem;
}
.content a{
    color: rgb(37,160,219);
}
.right-side {
    padding: 1.5rem;
    background-color: rgba(255, 248, 248, 0.7);
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.right-side ul li {
    font-size: 0.75rem;
}
.left-side {
    text-align: center;
    margin: auto;
}
.content h4 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}
@media only screen and (max-width : 960px) {
    .content {
        display: block;
    }
}
/* Go to Top button CSS 
 * WS:7/26 This was taken out a while ago. I'm leaving it in for now because I think it's neat. Used to be a button to go back to top on home page.*/
/*.TopBtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #041E42;
    bottom: 20px;
    right: 50px;
    padding-top: 20px;
    padding-bottom: -20px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 22px;
    border-radius: 5px;
    transition: all ease 0.5s;
}
.TopBtn:hover {
    background: rgba(193, 0, 0, 0);
}*/
/* second-section ends */
/* Footer starts */
#footer-wrap {
    color: #fff;
    background-color: #041E42;
    padding: 25px 60px;
}
.footer-content img {
    width: 200px;
    height: auto;
    margin: 0 2rem 2rem 0;
}
.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1160px;
}
.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1160px;
}
.features {
    margin-top: 1rem;
    padding: 0 35px;
}
.features p {
    font-size: .525rem;
    line-height: 1rem;
    margin-bottom: 1rem;
    margin-top: 0;
}
.features p a {
    color: #fff;
}
.features p a:hover {
    text-decoration: underline;
}
.features a {
    fill: #fff;
}
.features a:hover {
    fill: #fff;
}
/* Footer responsiveness*/
@media screen and (max-width : 960px) {
    .footer-wrap {
        padding: 25px 60px;
    }
    .footer-content {
        max-width: 1160px;
        justify-content: space-evenly;
    }
    .footer-content .break {
        display: flex;
    }
    .features {
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width : 600px) {
    .footer-wrap {
        padding: 40px 0%;
        margin-bottom: 2rem;
    }
    .footer-content {
        flex-direction: column;
    }
    .features {
        display: flex;
        justify-content: center;
    }
    .features p {
        text-align: center;
    }
}
/* Footer ends */
/* Courses titles */
#courses {
    background: url("images/footprints.png"), radial-gradient(#05295a 40%, black);
    background-position: center top, center;
    background-repeat: repeat-y, no-repeat;
    color: white;
}
.module{
    padding-top: 3rem;
}
.module h1 span {
/*    color: rgba(57, 51, 51, 0.7);*/
    color: rgba(255,255,255,0.7);
}
.roadtext{
text-align: center; 
 font-size:20px;
 font-family: Verdana, Helvetica,sans-serif
}
#svgHolder {
    text-align: center;
    margin: auto;
    width: 80%;
}
.data {
    width: 60%;
    margin: auto;
    padding-bottom: 2rem;
    text-align: justify;
}
.data p {
    line-height: 1.5;
    letter-spacing: 0.15rem;
    word-spacing: .1rem;
}
.data p:first-child::first-letter {
/*    color: #041E42;*/
    color: lightsteelblue;
    font-weight: bold;
    font-size: 3rem;
    float: left; 
    line-height: 2.5rem;
    padding-right: .4rem;
    margin-top: -.15rem;
}
@media screen and (max-width : 767px) {
    .data {
        width: 80%;
        padding: 2rem;
        text-align: left;
    }
}
/* title ends */
/* Courses list */
.courseblock {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding: .7rem;
    line-height: 1.25rem;
}
.courseblock ul{
    color: black;
}
.responsive-table li {
    border-radius: 3px;
    padding: 1.25rem 1.5rem;
    display: flex;#co
    justify-content:space-between;
    margin-bottom: 1.25rem;
    font-size: 0.7rem;
}
.responsive-table .table-header {
    background-color: #041E42;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 0.03rem;
    color: #fff;
}
.table-header div a {
    color: #fff;
}
.responsive-table .table-row {
    background-color: #fff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.dots {
    cursor: pointer;
}
.more {
    display: none;
    text-align: justify;
}
.col-2 {
    text-align: center;
}
.responsive-table .col-1 {
    flex-basis: 10%;
}
.responsive-table .col-2 {
    flex-basis: 10%;
}
.responsive-table .col-3 {
    flex-basis: 65%;
}
.responsive-table .col-4 {
    flex-basis: 25%;
    display: flex;
    justify-content: center;
}
.col span .more {
    text-indent: 2rem;
}
@media all and (max-width : 600px) {
    .responsive-table {
        padding: 0;
    }
    .responsive-table li {
        padding: .75rem 1rem;
        font-size: .6rem;
        text-align: left;
    }
}
.short-text {
    display: none;
}

@media (max-width : 820px) {
    .short-text {
        display: inline-block;
    }
    .full-text {
        display: none;
    }
}
/* list ends */
/* Projects Showcase page Begins*/
.pcontainer {
    max-width: 960px;
    min-width: 320px;
    margin: 0 auto 2rem auto;
    display: flex;
}
/* yxj: does not matter */
/*.projects {
    position: relative;
    width: 100%;
}*/
.work {
    float: left;
    overflow: hidden;
    position: relative;
}
.workContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: 100%;
}
.work div.desc {
    line-height: 1;
    left: 50%;
    width: 50%;
    padding: 3%;
    color: #fff;
}

.work h2 {
    line-height: 1;
}
.work h3 {
    line-height: 0.97;
    font-weight: 400;
}
.work p {
    line-height: 1.2;
}
.blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: 100%;
    filter: blur(100px);
}
/* The FOCUS class is applied to only the WORK class on click through project.js. This is what expands the description. */
.focus {
    display: inherit;
}
.desc {
    box-sizing: border-box;
}
.desc a svg {
    fill: white;
}
.desc a svg:hover {
    fill: rgb(193, 0, 0);
}
/* PROJECT PAGE TABLET/COMPUTER VIEWING */
@media screen and (min-width : 456px) {
    div.work {
        width: 33.33%;
        display: inherit;
    }
    div.focus {
        width: 100%;
        float: left;
    }
    .work img.art {
        cursor: pointer;
        width: 100%;
        height: auto;
        float: left;
    }
    .focus img.art {
        float: left;
        width: 50%;
    }
    .work div.desc {
        display: none;
        min-height: 100%;
    }
    .focus div.desc {
        display: inherit;
        float: left;
        position: absolute;
    }
    /* WS:7/28 The project page must have responsive text for smaller screens (vw units). Otherwise the descriptions will become unreadable.
     * If root font-size changes, change the view-width accordingly. */
    .work h2 {
        margin-top: 0;
        margin-bottom: 1.8vw;
        letter-spacing: -0.1vw;
        font-size: 3.7vw;
    }
    .work h3 {
        margin-top: 0.3vw;
        margin-bottom: 0.9vw;
        font-size: 2.53vw;
    }
    .work p {
        margin-top: 3vw;
        margin-bottom: 2vw;
        font-size: 1.8vw;
        text-align: left;
    }
    .desc a svg {
        width: 4.65vw;
        position: absolute;
        bottom: 3%;
        left: 3%;
    }
}
/* STOP PAGE RESPONSIVENESS FROM CONTINUING TO GROW */
@media screen and (min-width : 960px) {
    .work h2 {
        margin-top: 0rem;
        margin-bottom: 0.486487rem;
        font-size: 1.776rem;
    }
    .work h3 {
        margin-top: 0.144rem;
        margin-bottom: 0.432rem;
        font-size: 1.2rem;
    }
    .work p {
        margin-top: 1.66666rem;
        margin-bottom: 1.1111rem;
        font-size: 0.86rem;
    }
    .desc a svg {
        width: 2.232rem;
        bottom: 0.70707rem;
        left: 0.70707rem;
    }
}
/* PROJECT PAGE MOBILE VIEWING */
/* 2022-09-24 ws Change if else statement of mobile viewing width in project.js if it changes here */
@media screen and (max-width : 455px) {
    .work {
        width: 100%;
    }
    .art {
        width: 100%;
        height: auto;
    }
    .work div.desc {
        display: inherit;
        width: 100%;
        padding: 3%;
    }
    .work h2 {
        margin-top: 0;
        margin-bottom: 2.3vw;
        letter-spacing: -0.15vw;
        font-size: 7vw;
    }
    .work h3 {
        margin-top: 1vw;
        margin-bottom: 1.7vw;
        font-size: 4.65vw;
    }
    .work p {
        margin-top: 4.1vw;
        margin-bottom: 3.5vw;
        font-size: 3.6vw;
    }
    .desc a svg {
        width: 6.25vw;
    }
}
/* Loader starts */
#preloader-index {
    background: #000 url(images/pacman-loader.gif) no-repeat center center;
    background-size: 30%;
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 100;
}
#preloader {
    background: #e9e9eb url(images/duck-loader.gif) no-repeat center center;
    background-size: 30%;
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 100;
}
/* Loader ends */
/* Events page */
#svgHolder {
    text-align: center;
    margin: auto;
    width: 80%;
}
.data-event {
    width: 60%;
    margin: auto;
    padding-bottom: .5rem;
    text-align: justify;
/*    color: rgb(0, 0, 0);*/
}
@media screen and (max-width : 767px) {
    .data-event {
        width: 80%;
        padding: 2rem;
        text-align: left;
    }
}
.info {
    margin-top: 1rem;
}
.digit-works {
    text-transform: capitalize;
    text-align: left;
    font-size: 1rem;
    margin: 3rem auto 0;
/*    color: rgb(0, 0, 0);*/
    width: 60%;
}
.digit-works span {
/*    color: rgba(0, 0, 0, 0.7);*/
    color: rgba(255,255,255,0.7);
    font-weight: bold;
    font-size: 1rem;
}
@media screen and (max-width : 767px) {
    .digit-works {
        width: 80%;
        padding: 2rem;
    }
}
/* DIGIT workspace list */
.timeline {
    border-left: 3px solid #727cf5;
    border-radius: 10px;
    background: rgba(114, 124, 245, 0.09);
    margin: 0 auto;
    letter-spacing: 0.01rem;
    position: relative;
    line-height: 1.4rem;
    padding: 2.5rem;
    list-style: none;
    text-align: left;
    max-width: 40%;
}
@media (max-width : 767px) {
    .timeline {
        max-width: 98%;
        padding: 1.25rem;
    }
}
.timeline .event {
    border-bottom: 1px dashed #e8ebf1;
    padding-bottom: 1.25rem;
    margin-bottom: 1.25rem;
    position: relative;
}
@media (max-width : 767px) {
    .timeline .event {
        padding-top: 1.5rem;
    }
}
.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}
.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}
.timeline .event:before {
    left: -207px;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9rem;
    min-width: 120px;
}
@media (max-width : 767px) {
    .timeline .event:before {
        left: 0px;
        text-align: left;
    }
}
.timeline .event:after {
    -webkit-box-shadow: 0 0 0 3px #727cf5;
    box-shadow: 0 0 0 3px #727cf5;
    left: -55.8px;
    background: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
    transition: all ease 0.3s;
}
.timeline .event:hover:after {
    background: #727cf5;
}
@media (max-width : 767px) {
    .timeline .event:after {
        left: -31.8px;
    }
}
.rtl .timeline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #727cf5;
}
.rtl .timeline .event::before {
    left: 0;
    right: -170px;
}
.rtl .timeline .event::after {
    left: 0;
    right: -55.8px;
}
/* EVENT PAGE END */
/* ABOUT PAGE BEGIN */
.about_forms {
    margin: auto;
    max-width: 960px;
    text-align: left;
    padding: 1rem 0 0 0;
}
.about_forms li {
    margin: .6rem 0 .6rem 0;
    list-style: none;
}
.contributeList ul {
    margin: .6rem 0 .6rem 0;
    padding: 0 0 0 1.5rem;
    height: 200px;
    overflow: hidden;
    overflow-y: scroll;
    background: rgba(0, 0, 0, 0.07);
}
.portfolioWrap {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.5rem 0 2.5rem;
}
.portfolioList {
    width: 500px;
}
.portfolioList li:before {
    content: url('images/footprint.svg');
    display: inline-flex;
    margin: 0 .35rem;
}
.portfolioList li {
    list-style: none;
    margin: 0 0 .5rem;
}
/* END ABOUT PAGE */
/* Archive page */
.archive {
    max-width: 1080px;
    margin: auto;
    text-align: center;
    padding: 2rem;
}
.dates {
    max-width: 1080px;
    text-align: left;
    margin: auto;
}
.dates h5 {
    font-size: 1rem;
/*    color: rgba(0, 0, 0, 0.7);*/
}
table.showCase {
    vertical-align: middle;
    max-width: 1080px;
    margin: auto;
}
table.showCase tr:nth-child(even) {
    background-color: /*#dcd0ff*/ /*#dbd7d2*/ /*#c3cde6*/ /*#e0c39e*/ /*#d9cab2*/ /*lightsteelblue*/rgba(148,175,210,0.3);
}
th,
td {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}