/* GENERAL STYLING */
body {
    font-size: 1.2em;
    line-height: 1.3em;
    background-color: #e6e6e6;
    font-family: arial, helvetica, sans-serif;
    
    text-shadow: 1px 1px #fff;
}
/* Generate perfect curly quotes with the <q> element: */
q{
    quotes:'“' '”' '‘' '’';
}

div.DIGIT {
    margin: auto;
}

span.WallpoetFont {
    font-family: 'Wallpoet', cursive;
    font-size: larger;
}

/* HEADER STYLE */


header {
    display: block;
    text-align: center;
    margin: auto;
    font-family: 'Wallpoet', cursive;
    font-size: larger;
    line-height: 1.5;
    background-image:linear-gradient(grey, lightsteelblue);
    border-radius: 5px;
    padding-bottom: 2vh;
   
   width: 90vw;
   /* font-size: .7em;*/
    /* padding: 10px; */
}

div#homeImage { background-image: url(images/digit_banner_updateCropped.png);
    height: 25vw;
    width: 98vw;
      background-position: center center;
    background-repeat: no-repeat;
  background-size: cover;
    margin: auto;
    display: flex;
/* position: relative; */
/* display: block; */
/* background-attachment: fixed; */

}

h1.head{
    margin-top:5px;
    margin-bottom:5px;
}

div.navbar {
    margin: auto;
    margin-bottom: 10px;
    display: flex;
justify-content: space-evenly;
}

a.navButton {
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
 
    margin-bottom:5px;
    transition:.4s;
    text-shadow:.5px .5px white;
}

a.navButton:hover {
    color: rgb(0, 0, 0);
    background-color:rgba(119, 136, 153, 0.199);
    border-radius:5px;
    /* border-style:inset; */
    text-shadow:none;
    /* border-width:.05em; */
    border-inline: .05em inset;
}

/* FOOTER STYLE */

hr {
    margin: 0px;
}

footer {
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: .9em;
    background-image:linear-gradient(grey, lightsteelblue);
    border-radius: 5px;
    text-shadow: none;
}

a.footLinks {
    
    color: #1e407c;
    transition: .4s;
}

a.footLinks:hover {
    color: white;
}

div.foot#PSBlogo {
    background-image: url(images/PSB_logo.png);
    width: 250px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
}

div.foot {
    float: left;
    margin: auto;
    line-height: 1em;
    

}

h4.foot {
    margin-bottom: 0px;
}

div.foot ul {
    line-height: 1em;
}





/* HOMEPAGE STYLING */

/* section {
    margin: auto;
    /*display: block;*/
/* } */

section#home{
    margin: 3.5vw;
}

section#svgHolder{
    margin: 5vw;
}

div.indent{
    background-color:rgb(218, 218, 218);
    padding-left:5vw;
    padding-right:5vw;
}



div.indent {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

div.indent div {
    margin: 10px;
}



/* ROADMAP STYLING */

h1.roadmap {
    margin-bottom: 10px;
    text-align: center;
}

/* SVG STYLING */


div#svg {
    display: flex;
}

svg {
    /*display:flex;*/
    /* preserveAspectRatio 
     * viewbox --> in */
     background-image: linear-gradient(to bottom right, #dee0ec, #a9b8bb);
border-radius: 50px;
margin-bottom: 15px;
}

a.svg {
    outline: grey solid 0px;
    border-radius: 25px;
  
}

@keyframes mymove {
  50% {outline: white solid 10px;}
}

a.svg:hover {
    animation: mymove 4s infinite;
}



text {
    font-size: 2em;

}


/* SHOWCASE STYLE */

div.showcaseContent {
  
    display:flex;
    justify-content:center;
    margin-right: 5vw;
    margin-left:5vw;
    margin-top:1vw;
    margin-bottom:1vw;
flex-direction: column;
align-content: center;
}
div.showcaseContent h1 {
    text-align: center;
}

/* section.showSection{
  
} */

img.icon {
    width: 190px;
    border-radius: 5px;
    max-height: 10vw;
}

a img:hover {
    opacity: .6;
    transition: .4s;
}

div#projectContain {
    display: grid;
    grid-template-columns: 31vw 25vw 31vw;
    grid-template-rows: auto;
}

div#projectContain div {
    flex: 1;
}

section.showSection{
    margin-right: 20px;
}

section.showSection h2{
    text-align:center;
    font-family: 'Wallpoet', cursive;
}

section.showSectionLarge h2{
    text-align:center;
}


section.showSection div {
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    /*display: inline-flex;*/
    /* flex-direction: row;
    justify-content:space-around;
    align-items:flex-start; */
}

section.showSectionLarge div {
    display:grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto;
    /*display: inline-flex;*/
    /* flex-direction: row;
    justify-content:space-around;
    align-items:flex-start; */
}


section.showSection div figure {
    margin: 2px;
}
section.showSection div figure img {
   max-width:300px; 
   width:100%;
   max-height: 10vw;
}
section.showSection div figure figcaption {
   display:inline-block;
   font-size: .7em;
}

div.topShowRow{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-column: 1 / 4;
}

div.bottomShowRow{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-column: 1 / 4;
}

section.showSectionLarge div figure {
    margin: 2px;
}
section.showSectionLarge div figure img {
   max-width:300px; 
   width:100%;
   max-height: 10vw;
}
section.showSectionLarge div figure figcaption {
   display:inline-block;
   font-size: .7em;
}


/* ul.body {list-style-type: none; 
 * display:flex;  justify-content:space-around; 
 * align-items:flex-start; flex-direction:row; flex-wrap: wrap;}
 */





        /* ABOUT PAGE STYLE */
        
div.aboutHead {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
 
 img#faces1 {
     width:200px;
 }
 
 img#faces2 {
     width:200px;
 }
 
 div.portfolioWrap {
     display:flex;
     flex-direction:row;
     justify-content:space-evenly;
 }
 
 img#faces3 {
     width:200px;
 }
 
 div.portfolioList li {
     line-height:2em;
 }





/* 404 STYLING */

div.errorimage {
    display: flex;
    margin: auto;
    justify-content: center;
}
/* DIGIT Works events posting */
.worksTitle {color:purple; font-family: 'Wallpoet', cursive;
    font-size: larger;}
.worksEvent {outline-style: solid; outline-color:purple; outline-width:thin; padding: .75em;}

table.showCase {vertical-align: middle;}
table.showCase tr:nth-child(even) {background-color:/*#dcd0ff*/ /*#dbd7d2*/ /*#c3cde6/ /*#e0c39e*/ /*#d9cab2*/ lightsteelblue;}

th, td {padding-left: 1em; padding-right: 1em; padding-top: .5em; padding-bottom: .5em;}

/* Embedded Zoom recordings: */
.kmsembed {border:none; width:70%;}


/* banner photo*/
.gallery{
	border: 1px solid #371D10;
}

.gallery:hover {
	border: 2px solid #4A2512;
}

.gallery img{
	width: 100%;
	height: auto;
	opacity: 0.5;
}

.desc{
	padding :15px;
	text-align: center;
	font-family: 'IM Fell English', serif;
	font-size: 20px;
}

* {
  box-sizing: border-box;
}

.responsive {
	padding: 0 2px;
	float: left;
	width: 100%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 100%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textoverlay {
  position: relative;
  text-align: center;
  color: #231709;
  font-family: 'IM Fell English', serif;
  font-size: 20px;
}

.centered mark{
	background-color: #9A7B4F;
}
/* Standard styling for figure figcaption on EVENTS and elsewwhere */

figure {width:40%;}
figure img {max-width:300px;}
figcaption {font-size: .7em; line-height:1em;}

